--extra-index-url https://download.pytorch.org/whl/cu118 
torch
torchvision
torchaudio

huggingface_hub==0.22.2
# images
pillow

# common ml packages
transformers
scikit-learn
xgboost
keras
scipy
numpy==1.26.4
pandas
matplotlib
seaborn
tqdm
kaggle

# llm
anthropic
sentencepiece
peft
accelerate
evaluate

# graph
torch-geometric==2.3.1
ogb


#others
dacite
python-dotenv

# for p2m specifically
datasets
gradio==3.38.0
bert_score
tevatron
mdtex2html
retriv
tiktoken

charset-normalizer==3.1.0